@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

body{
    font-family: 'Shizuru', cursive;
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 50px;
}

.h1-color{
    color: #F9785F;
}

.flexible-container{
    display: flex;
    margin-bottom: 120px;
}

.half-width p{
    font-weight: bold;
}
.half-width img{
    width: 80%;
}

.half-width{
    padding-top: 20px;
    width: 50%;
    padding-left: 3%;
    padding-right: 2%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(#F9785F, #ec4726 );
    padding:10px 40px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}



.dream{
    color: #FF3D8A;
}

#dream-link{
    text-decoration: none;
    background-image: linear-gradient(#FF2077, #FF5599 );
    padding:10px 40px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    
}
#dream-link:hover{
    background-image: linear-gradient( #FF5599, #FF2077 );

}
.dream-big{
  
    background:url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}


.experiance-item{
    box-shadow: 10px 10px 40px lightgrey;
    width: 40%;
    font-weight: bold;
    margin-left: 4%;
    padding: 25px;
}

#full-stack{
    color: #7737D8;
}

#baby{
    color:#34A3F1;
}

#baby-border{

    border-left: 10px solid;
    border-image: linear-gradient(#77bcec, #34A3F1);
    border-radius: 10px;
    border-image-slice: 1;
    background-color: #FFF;
    cursor: pointer;
}

#baby-border:hover{
    background-color: #34a2f181;
    transition:1s;
}

#full-stack-border{
    
    border-left: 10px solid;
    border-image: linear-gradient(#7737D8, #a574f0);
    border-radius: 10px;
    border-image-slice: 1;
    background-color: #FFF;
    cursor: pointer;
}

#full-stack-border:hover{
    background-color: #7737d87a;
    transition: 1s;
}

#exp{
    padding-left: 50px;
}

h2{
    font-size: 40px;
}

.experiance-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    
}

footer p{
    text-align: center;
    font-weight: bold;

}